html { background-color: lavender;}
body {
    display: flex; width: 85vw;
    margin-left: auto; margin-right: auto;
    /*background: transparent;*/
}
/*#################### LEFT ####################*/
.left { width: 45%; }
.detailsbox {
    display: flex; flex-direction: column;
}
.sdb {
    display: flex;
}
.db-left { width: 30%; }

/*#################### RIGHT ####################*/
.right { width: 55%; }