html {
    background-color: #003399;
    background:url(http://www.fillster.com/images/backgrounds/213l.gif);
    background:url(https://i.ibb.co/wBjHmsv/glitch.gif);
    background-repeat: repeat;
    overflow-x: hidden;
}
body {
    width: 95vw;
    margin-left: auto; margin-right: auto;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: url(http://cur.cursors-4u.net/cursors/cur-1/cur1.ani), url(http://cur.cursors-4u.net/cursors/cur-1/cur1.png), auto !important;
} /*http://www.htmate.com/cursors/images/blue_lightning.ani*/
body a {
    cursor: url(http://cur.cursors-4u.net/others/oth-9/oth827.ani), url(http://cur.cursors-4u.net/others/oth-9/oth828.cur), pointer !important;
}
.txt-right { text-align: right; }
.txt-type { font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace; }
.contentbody {
    display: flex;
}
header {
    width: auto; height: auto;
    display: flex; flex-direction: column;
    top: 0; left: 0; margin-left: -40px; margin-right: -40px; margin-top: -20px; margin-bottom: 20px;
    padding-top: 15px; padding-bottom: 5px; padding-left: 25px;
    background-color: #003399;
}
header a {
    color: white; text-decoration: none;
}
header img {
    max-width: 150px;
}
.head-right {
    display: block; text-align: right;
}
.head-top, .head-bottom {
    display: flex; flex-direction: row;
    width: auto;
}
.head-bottom {
    padding-top: 5px;
}
.head-left {
    width: 70%;
}
.hl-left a {
    padding-left: 10px; padding-right: 10px;
    border-right: 2px inset darkblue;
}
.hl-right a {
    padding-left: 10px; padding-right: 10px;
    border-left: 2px inset darkblue;
}
.head-right {
    position: absolute; right: 0;
    padding-right: 10px;
}
.box { 
    background-color: rgba(184, 163, 189, 0.95);
    border: 2px solid gray;
    outline: 3px solid greenyellow;
    margin-left: 15px; margin-bottom: 20px; 
    padding-left: 15px; padding-top: 5px; padding-bottom: 5px;
}
img {width: 50%;}
/*#################### LEFT ####################*/
.left { width: 35%; }
.userbox { display: flex; }
.userimg { justify-content: space-between; text-align: center; }
.userimg img { width: 90%; padding-top: 10px;}
.contactbox img { width: 75%; }
.detailsbox { display: flex; flex-direction: column; }
.sdb {
    display: flex;
}
.db-1 { width: 10%; }
.db-2 { width: 20%; }
.db-3 { width: 30%; }
.db-4 { width: 40%; }
.db-5 { width: 50%; }
.db-6 { width: 60%; }
.db-8 { width: 80%; }
.adbox img {
    width: 90%; padding-left: 20px;
}
/*#################### RIGHT ####################*/
.right { width: 65%; }
.friends {
    display: flex; justify-content: space-between;
    padding-left: 5px; padding-bottom: 10px;
    text-align: center;
}
.friends img {
    margin-left: auto; margin-right: auto;
    padding-top: 5px;
}
.friend { width: 25%; }
.stickers { display: flex; justify-content: space-between; text-align: center; }
.comments {display: flex; flex-direction: column; }
.comment { display: flex; flex-direction: row; }
.comment img {width: 80%; }
.comment p {
    margin-right: 25px;
}